.git
**/.git
**/_build
**/*.vo
**/*.vok
**/*.vos
**/*.glob
**/.depend
**/.depend.extr
**/.merlin
**/.lia.cache
**/.nia.cache
**/.nra.cache
**/.coq-native
**/*.aux
**/.*.aux
**/*.cm[ioxat]
**/*.cmxa
**/*.o
**/*.a
CompCert/tools/ndfun
CompCert/tools/modorder
CompCert/ccomp
CompCert/clightgen
CompCert/compcert.config
CompCert/driver/Version.ml
CompCert/extraction/STAMP
CompCert/extraction/*.ml
CompCert/extraction/*.mli
CompCert/Makefile.config
CompCert/compcert.ini
Dockerfile
.dockerignore